html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  background-image: url('/ski-basar/projects/app/src/assets/images/backgrounds-desktop-png.png');
  background-size: cover;
}

:root {
  --lt-loading-bar-color: var(--bs-primary);
}
