<div class="container h-100 pl-5 pr-5">
  <div class="logo w-100 mt-3">
    <img src="\assets\images\SkiClubOlpeLogo11-_2_.png" alt="Logo Skiclub Olpe" />
  </div>

  <h1 class="text-primary text-center pb-3 pt-3 headline">42</h1>

  <form action="" class="form-input">
    <div>
      <h5 class="mb-5 nextstep">Bitte zeigen Sie diese Seite gleich an der Annahme vor!</h5>
      <h5>Weitere Schritte im Überblick:</h5>
      <ol>
        <li>Bitte warten, bis Sie an der Reihe sind.</li>
        <li>
          Halten Sie bitte Bargeld zum Bezahlen der Annahmegebühr bereit. Den genauen Betrag erfahren Sie gleich am
          Annahme-Tisch.
        </li>
        <li>
          Zusammen mit den Mitarbeitern am Annahme-Tisch werden Ihre zu verkaufenden Artikel in einer Liste erfasst. Sie
          können sich gerne im Vorfeld schon Gedanken machen, welchen Verkaufspreis Sie pro Artikel angeben möchten.
        </li>
        <li>Sie erhalten nach erfolgreicher Annahme eine E-Mail mit der Bestätigung.</li>
        <li>Wir versuchen die Artikel für Sie auf dem Ski-Basar zu verkaufen.</li>
        <li>
          Alle nicht verkauften Artikel und/oder der Verkaufserlös werden am Sonntag zwischen 16:30 und 17:30 Uhr von
          Ihnen hier abgeholt.
        </li>
      </ol>
    </div>
  </form>
</div>
<div class="mountain-left"></div>
<div class="mountain-right"></div>
