<div class="body-login">
  <div class="login-form">
    <form class="form-floating">
      <h3 class="text-center mt-4">Anmeldung</h3>
      <div class="form-floating mb-3 mt-4">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
        <label for="floatingInput">Vorname<span>*</span></label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
        <label for="floatingTextarea">Nachname<span>*</span></label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
        <label for="floatingPassword">Password <span>*</span></label>
      </div>
      <p class="text-muted"><span>*</span>Pflichtfeld</p>
      <button type="submit" class="btn btn-primary mt-3">Weiter</button>
    </form>
  </div>

  <div class="row background-field">
    <div class="col-6 secondary-color"></div>
    <div class="col-6 primary-color"></div>
  </div>
  <div class="row background-field">
    <div class="col-5 secondary-color"></div>
    <div class="col-7 primary-color"></div>
  </div>
</div>
