<div class="container h-100 pl-5 pr-5">
  <div class="logo w-100 mt-3">
    <img src="\assets\images\SkiClubOlpeLogo11-_2_.png" alt="Logo Skiclub Olpe" width="200px" />
  </div>

  <h1 class="text-primary text-center pb-5 pt-3">Anmeldung</h1>

  <form (ngSubmit)="add()" [formGroup]="changeForm">
    <p class="text-center mt-5">Bitte kontrollieren Sie folgende Eingaben:</p>
    <div class="form-floating mb-3">
      <input
        type="tel"
        class="form-control rounded-4 border-primary"
        id="phoneNumber"
        placeholder="0123456789"
        formControlName="phonenumber"
        [ngClass]="{
          'is-invalid': !changeForm.get('phonenumber')?.valid && changeForm.get('phonenumber')?.touched,
          'is-valid': changeForm.get('phonenumber')?.valid && changeForm.get('phonenumber')?.touched
        }" />
      <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
      <label for="phoneNumber">Telefonnummer </label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control rounded-4 border-primary"
        id="email"
        placeholder="name@example.com"
        formControlName="email"
        [ngClass]="{
          'is-invalid': !changeForm.get('email')?.valid && changeForm.get('email')?.touched,
          'is-valid': changeForm.get('email')?.valid && changeForm.get('email')?.touched
        }" />
      <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
      <label for="email">E-Mail </label>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-3 rounded-4 mt-3 mb-3" [disabled]="!changeForm.valid">
      Anmelden
    </button>
  </form>
</div>
<div class="mountain-left"></div>
<div class="mountain-right"></div>
