<div class="body-main-number">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-between">
      <div class="img-container">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/SkiClubOlpeLogo11-_2_.png" alt="Logo" class="d-inline-block align-text-top" />
        </a>
      </div>
      <div class="nav-items-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link not-active" href="/main-desktop/1">Warenzettel ausfüllen</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active-2" aria-current="page" href="/number-layout">Kundennummer anlegen</a>
          </li>
          <div class="profil-background ms-5">
            <li class="nav-item profil-flexbox mx-3">
              <div class="profil text-center">
                Luisa Müller
                <!--TODO: Hier noch den Namen aus der Datenbank nehmen-->
              </div>
            </li>
            <li class="nav-item me-3">
              <button class="logout-button">Logout</button>
              <!--TODO: Hier noch eine Funktion einfügen-->
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <div class="section-title pt-3">
    <h1 class="text-primary mt-3">Manuell Kundennummer anlegen</h1>
  </div>
  <div class="section-main mt-5">
    <form (ngSubmit)="navToGetNumber()" [formGroup]="customerForm" class="form-input">
      <div class="section-input">
        <div class="form-floating mb-3">
          <input
            type="firstName"
            class="form-control rounded-4 border-primary"
            id="firstName"
            placeholder="Max"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid': !customerForm.get('firstName')?.valid && customerForm.get('firstName')?.touched,
              'is-valid': customerForm.get('firstName')?.valid && customerForm.get('firstName')?.touched
            }" />
          <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
          <label for="firstName">Vorname <span class="text-danger">*</span></label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="lastName"
            class="form-control rounded-4 border-primary"
            id="lastName"
            placeholder="Mustermann"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid': !customerForm.get('lastName')?.valid && customerForm.get('lastName')?.touched,
              'is-valid': customerForm.get('lastName')?.valid && customerForm.get('lastName')?.touched
            }" />
          <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
          <label for="lastName">Nachname <span class="text-danger">*</span></label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="street"
            class="form-control rounded-4 border-primary"
            id="street"
            placeholder="Musterstraße 1"
            formControlName="street"
            [ngClass]="{
              'is-invalid': !customerForm.get('street')?.valid && customerForm.get('street')?.touched,
              'is-valid': customerForm.get('street')?.valid && customerForm.get('street')?.touched
            }" />
          <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
          <label for="street">Straße, Hausnummer <span class="text-danger">*</span></label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="postCode"
            class="form-control rounded-4 border-primary"
            id="postCode"
            placeholder="12345 Musterstadt"
            formControlName="postcode"
            [ngClass]="{
              'is-invalid': !customerForm.get('postcode')?.valid && customerForm.get('postcode')?.touched,
              'is-valid': customerForm.get('postcode')?.valid && customerForm.get('postcode')?.touched
            }" />
          <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
          <label for="postCode">PLZ, Ort <span class="text-danger">*</span></label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="phoneNumber"
            class="form-control rounded-4 border-primary"
            id="phoneNumber"
            placeholder="0123456789"
            formControlName="phonenumber"
            [ngClass]="{
              'is-invalid': !customerForm.get('phonenumber')?.valid && customerForm.get('phonenumber')?.touched,
              'is-valid': customerForm.get('phonenumber')?.valid && customerForm.get('phonenumber')?.touched
            }" />
          <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
          <label for="phoneNumber">Telefonnummer <span class="text-danger">*</span></label>
        </div>
        <div class="form-floating mb-3 ml-4">
          <input
            type="email"
            class="form-control rounded-4 border-primary"
            id="email"
            placeholder="name@example.com"
            formControlName="email"
            [ngClass]="{
              'is-invalid': !customerForm.get('email')?.valid && customerForm.get('email')?.touched,
              'is-valid': customerForm.get('email')?.valid && customerForm.get('email')?.touched
            }" />
          <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
          <label for="email">E-Mail <span class="text-danger">*</span></label>
        </div>
        <p class="mandatory-field"><span class="text-danger">*</span> Pflichtfeld</p>
        <!-- <div class="form-floating mb-2 ml-4">
          <input
            type="password"
            class="form-control rounded-4 border-primary"
            id="password"
            placeholder="Passwort123"
            formControlName="password"
            [ngClass]="{
              'is-invalid': !customerForm.get('password')?.valid && customerForm.get('password')?.touched,
              'is-valid': customerForm.get('password')?.valid && customerForm.get('password')?.touched
            }" />
          <div class="invalid-feedback m-0 mx-2 p-0">Bitte ausfüllen.</div>
          <label for="password">Passwort (nur für Helfer)</label>
        </div> -->
        <p class="mt-4">Handelt es sich um einen Helfer des Skibasars?</p>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="helper"
            formControlName="helper"
            value="no"
            id="flexRadioDefault1"
            (change)="isCollapsed = true"
            checked />
          <label class="form-check-label" for="flexRadioDefault1"> Nein </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="helper"
            formControlName="helper"
            value="yes"
            id="flexRadioDefault2"
            (change)="isCollapsed = false" />
          <label class="form-check-label" for="flexRadioDefault2"> Ja </label>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div class="form-floating mt-2 mb-3">
            <input
              type="password"
              class="form-control rounded-4 border-primary"
              id="password"
              placeholder="Passwort123"
              formControlName="password" />
            <label for="password">Zugangskennung (nur für Helfer)</label>
          </div>
        </div>
      </div>
      <div class="section-accept">
        <div class="data-area">
          <h5 class="mt-1 text-center">Hinweise des Ski-Club Olpe 1976 e.V.</h5>
          <ul>
            <li>
              Die Angebotsgebühr in Höhe von einem Euro sowie 10 % des Verkaufserlöses gehen an den Ski-Club Olpe 1976
              e.V.
            </li>
            <li>
              Der Ski-Club Olpe übernimmt keine Haftung für Verlust, Beschädigung oder Diebstahl der angebotenen
              Artikel.
            </li>
            <li>
              Die nicht verkauften Artikel müssen am 04.12.2022 zwischen 16:30 und 17:30 Uhr abgeholt werden. Nicht
              abgeholte Artikel werden auf Kosten des Verkäufers entsorgt.
            </li>
          </ul>
          <h5 class="mt-4 text-center">Datenschutzhinweis</h5>
          <div class="data-text">
            <p>
              Die erhobenen Daten werden ausschließlich für die Durchführung des Skibasars verwendet und spätestens nach
              einer Woche gelöscht. Die allgemeine Datenschutzerklärung des Ski-Club Olpe kann unter folgender Adresse
              abgerufen werden:
              <a href="https://www.skiclub-olpe.de/wp/datenschutzerklaerung"
                >Datenschutzerklärung des Skiclub Olpe 1976 e.V.</a
              >
            </p>
          </div>
        </div>
        <div class="form-check m-3">
          <input
            class="form-check-input border-primary"
            type="checkbox"
            value=""
            id="flexCheckAccept"
            formControlName="accept" />
          <label class="form-check-label" for="flexCheckAccept">Ich akzeptiere die oben stehenden Hinweise.</label>
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100 py-3 rounded-4"
          [disabled]="
            !customerForm.get('firstName')?.valid ||
            !customerForm.get('lastName')?.valid ||
            !customerForm.get('street')?.valid ||
            !customerForm.get('postcode')?.valid ||
            !customerForm.get('phonenumber')?.valid ||
            !customerForm.get('email')?.valid ||
            !customerForm.get('accept')?.valid ||
            !customerForm.get('helper')?.valid ||
            (customerForm.get('helper')?.value === 'yes' && !customerForm.get('password')?.valid)
          ">
          Anmelden
        </button>
      </div>
    </form>
  </div>

  <div class="mountain-left"></div>
  <div class="mountain-right"></div>
</div>
