<div class="body-main-getNumber">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-between">
      <div class="img-container">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/SkiClubOlpeLogo11-_2_.png" alt="Logo" class="d-inline-block align-text-top" />
        </a>
      </div>
      <div class="nav-items-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link not-active" aria-current="page" href="#">Warenzettel ausfüllen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active-2" href="#">Kundennummer anlegen</a>
          </li>
          <li class="nav-item">
            <div class="profi"></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="section-header">
    <h3>Angelegte Kundennummer</h3>
  </div>
  <div class="section-number">
    <p>{{ customer.number }}</p>
  </div>
  <div class="section-button">
    <button type="button" class="btn btn-primary mt-4 py-3 rounded-4" (click)="navToGoodList()">
      Weiter zum Warenzettel
    </button>
  </div>
  <div class="mountain-left"></div>
  <div class="mountain-right"></div>
</div>
