<div class="body-main-getNumber">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-between">
      <div class="img-container">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/SkiClubOlpeLogo11-_2_.png" alt="Logo" class="d-inline-block align-text-top" />
        </a>
      </div>
      <div class="nav-items-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link not-active" href="/main-desktop/1">Warenzettel ausfüllen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active-2" aria-current="page" href="/number-layout">Kundennummer anlegen</a>
          </li>
          <div class="profil-background ms-5">
            <li class="nav-item profil-flexbox mx-3">
              <div class="profil text-center">
                Luisa Müller
                <!--TODO: Hier noch den Namen aus der Datenbank nehmen-->
              </div>
            </li>
            <li class="nav-item me-3">
              <button class="logout-button">Logout</button>
              <!--TODO: Hier noch eine Funktion einfügen-->
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <div class="section-title pt-3">
    <h1 class="text-primary mt-3">Angelegte Kundennummer</h1>
  </div>
  <div class="section-number mt-3">
    <p>{{ customer.number }}</p>
  </div>
  <div class="section-button mt-3">
    <button type="button" class="btn btn-primary py-3 rounded-4" (click)="navToGoodList()">
      Weiter zum Warenzettel
    </button>
  </div>
  <div class="mountain-left"></div>
  <div class="mountain-right"></div>
</div>
