<div class="container h-100">
  <h1 class="text-primary text-center py-5">Anmeldung</h1>

  <form action="">
    <div class="form-floating mb-3">
      <input
        type="firstName"
        class="form-control rounded-4 border-primary"
        id="firstName"
        placeholder="name@example.com" />
      <label for="firstName">Vorname <span class="text-danger">*</span></label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="lastName"
        class="form-control rounded-4 border-primary"
        id="lastName"
        placeholder="name@example.com" />
      <label for="lastName">Nachname <span class="text-danger">*</span></label>
    </div>
    <div class="form-floating mb-3">
      <input type="street" class="form-control rounded-4 border-primary" id="street" placeholder="name@example.com" />
      <label for="street">Straße, Hausnummer <span class="text-danger">*</span></label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="postCode"
        class="form-control rounded-4 border-primary"
        id="postCode"
        placeholder="name@example.com" />
      <label for="postCode">PLZ, Ort <span class="text-danger">*</span></label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="phoneNumber"
        class="form-control rounded-4 border-primary"
        id="phoneNumber"
        placeholder="name@example.com" />
      <label for="phoneNumber">Telefonnummer <span class="text-danger">*</span></label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control rounded-4 border-primary" id="email" placeholder="name@example.com" />
      <label for="email">Nachname <span class="text-danger">*</span></label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control rounded-4 border-primary"
        id="password"
        placeholder="name@example.com" />
      <label for="password">Passwort</label>
    </div>

    <button class="btn btn-primary w-100 py-3 rounded-4">Weiter</button>
  </form>
</div>
<div class="mountain-left"></div>
<div class="mountain-right"></div>
