<div class="container h-100 pl-5 pr-5">
  <div class="logo w-100 mt-3">
    <img src="\assets\images\SkiClubOlpeLogo11-_2_.png" alt="Logo Skiclub Olpe" width="200px" />
  </div>

  <h1 class="text-primary text-center pb-5 pt-3">Anmeldung</h1>

  <form (ngSubmit)="accept()" [formGroup]="acceptForm">
    <div>
      <h5>Hinweise des Ski-Club Olpe 1976 e.V.</h5>
      <ul>
        <li>
          Die Angebotsgebühr in Höhe von einem Euro sowie 10% des Verkaufserlöses gehen an den Ski-Club Olpe 1976 e.V.
        </li>
        <li>
          Der Ski-Club Olpe übernimmt keine Haftung für Verlust, Beschädigung oder Diebstahl der angebotenen Artikel.
        </li>
        <li>
          Die nicht verkauften Artikel müssen am
          <span class="fw-semibold">{{ changeableVariablesService.sundayDate }}</span> zwischen
          <span class="fw-semibold">{{ changeableVariablesService.startTimePickUp }}</span> und
          <span class="fw-semibold">{{ changeableVariablesService.endTimePickUp }} Uhr</span> abgeholt werden. Nicht
          abgeholte Artikel werden auf Kosten des Verkäufers entsorgt.
        </li>
      </ul>
      <h5 class="mt-4">Datenschutzhinweis</h5>
      <p>
        Die erhobenen Daten werden ausschließlich für die Durchführung des Skibasars verwendet und spätestens nach einer
        Woche gelöscht. Die allgemeine Datenschutzerklärung des Ski-Club Olpe kann unter folgender Adresse abgerufen
        werden:
        <a href="https://www.skiclub-olpe.de/wp/datenschutzerklaerung"
          >Datenschutzerklärung des Skiclub Olpe 1976 e.V.</a
        >
      </p>
    </div>
    <div class="form-check my-5">
      <input
        class="form-check-input border-primary"
        type="checkbox"
        value=""
        id="flexCheckAccept"
        formControlName="accept" />
      <label class="form-check-label" for="flexCheckAccept">Ich akzeptiere die oben stehenden Hinweise.</label>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-3 rounded-4 mb-3" [disabled]="!acceptForm.valid">
      Weiter
    </button>
  </form>
</div>
<div class="mountain-left"></div>
<div class="mountain-right"></div>
