<div class="body-main" *ngIf="goodsList && currentCustomer">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-between">
      <div class="img-container">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/SkiClubOlpeLogo11-_2_.png" alt="Logo" class="d-inline-block align-text-top" />
        </a>
      </div>
      <div class="nav-items-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active-2" aria-current="page" href="/main-desktop/1">Warenzettel ausfüllen</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link not-active" href="/number-layout">Kundennummer anlegen</a>
          </li>
          <div class="profil-background ms-5">
            <li class="nav-item profil-flexbox mx-3">
              <div class="profil text-center">
                Luisa Müller
                <!--TODO: Hier noch den Namen aus der Datenbank nehmen-->
              </div>
            </li>
            <li class="nav-item me-3">
              <button class="logout-button">Logout</button>
              <!--TODO: Hier noch eine Funktion einfügen-->
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <div class="section-1 my-5">
    <div class="numberslider-container ms-5">
      <div class="numberarrow-container">
        <div>
          <button
            class="btn btn-primary align-middle text-center"
            type="button"
            (click)="navPrevNext(goodsList.number - 1)">
            <i class="bi bi-caret-left-fill"></i>
          </button>
        </div>
        <div>
          <p class="text-center number-label">{{ goodsList.number }}</p>
        </div>
        <div>
          <button
            class="btn btn-primary align-middle text-center"
            type="button"
            (click)="navPrevNext(goodsList.number + 1)">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
      <div class="name-label-container">
        <p class="text-center name-label">
          {{ currentCustomer.firstName + ' ' + currentCustomer.lastName }}
        </p>
      </div>
      <div class="search-number-container">
        <form action="">
          <input
            type="text"
            class="form-control text-center"
            placeholder="Nummer suchen"
            (keydown.enter)="navTo($event)" />
        </form>
      </div>
    </div>
    <div class="customer-container">
      <p class="text-center text-customer-container">
        <br />{{ currentCustomer.firstName + ' ' + currentCustomer.lastName }}<br />{{ currentCustomer.street }}<br />{{
          currentCustomer.postcode
        }}<br />{{ currentCustomer.phonenumber }}<br />{{ currentCustomer.email }}
      </p>
      <p class="text-center text-customer-container" [hidden]="currentCustomer.isHelper === false">
        Helfer des Skibasars
      </p>
    </div>
    <div class="comment-container me-5">
      <form (ngSubmit)="saveNote()" [formGroup]="noteForm">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="noteField"
            name="noteField"
            formControlName="note"></textarea>
          <label for="noteField">Notiz zur Nummer:</label>

          <button class="btn btn-primary align-middle text-center mt-2 note-button" type="submit">
            Notiz speichern
          </button>
        </div>
      </form>
    </div>
  </div>
  <p class="text-center text-white">_</p>
  <!--p-Tag ist nur für etwas Abstand-->
  <div class="section-2 mt-3">
    <form (ngSubmit)="add()" [formGroup]="submitForm" class="w-100">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">Nr</th>
            <th scope="col" class="text-center">Art<span class="text-danger">*</span></th>
            <th scope="col" class="text-center">Marke<span class="text-danger">*</span></th>
            <th scope="col" class="text-center">Größe<span class="text-danger">*</span></th>
            <th scope="col" class="text-center">Farbe<span class="text-danger">*</span></th>
            <th scope="col" class="text-center">Sonstiges</th>
            <th scope="col" class="text-center">Preis[€]<span class="text-danger">*</span></th>
            <th scope="col" class="text-center">VB[€]</th>
            <th scope="col" class="text-center">Kasse[€]</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table">
          <tr class="align-middle" *ngFor="let good of goodsList?.tableItems; index as i">
            <th scope="row">{{ good.number }}</th>
            <td class="fw-semibold text-center">{{ good.classification }}</td>
            <td class="fw-semibold text-center">{{ good.brand }}</td>
            <td class="fw-semibold text-center">{{ good.size }}</td>
            <td class="fw-semibold text-center">{{ good.color }}</td>
            <td class="fw-semibold text-center">{{ good.other }}</td>
            <td class="fw-semibold text-center">{{ good.prize }}</td>
            <td class="fw-semibold text-center">{{ good.vb }}</td>
            <td class="fw-semibold text-center">{{ good.cash }}</td>
            <td>
              <div class="icon-container-pencil-trash">
                <button type="button" (click)="editRow(good, i)" class="btn btn-primary align-middle text-center">
                  <i class="bi bi-pencil"></i>
                </button>

                <button type="button" (click)="deleteRow(good, i)" class="btn btn-danger align-middle text-center mt-2">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr
            *ngIf="
              goodsList?.archivedTableItems &&
              goodsList?.archivedTableItems?.length !== changeableVariablesService.charArray.length
            "
            class="input-row">
            <th>{{ goodsList.number }}-{{ getRow(goodsList.archivedTableItems.length) }}</th>
            <td class="classification-td">
              <input
                type="text"
                id="classification-col"
                class="form-control"
                list="classification-list"
                formControlName="classification"
                [ngClass]="{
                  'border-danger': !submitForm.get('classification')?.valid,
                  'is-invalid': !submitForm.get('classification')?.valid && submitForm.get('classification')?.touched,
                  'is-valid': submitForm.get('classification')?.valid && submitForm.get('classification')?.touched
                }" />
              <div class="invalid-feedback m-0 mx-1 p-0">Bitte ausfüllen.</div>

              <label for="classification-col" class="visually-hidden">Art</label>
              <datalist id="classification-list">
                <option
                  [value]="classification"
                  *ngFor="let classification of changeableVariablesService.classificationList"></option>
              </datalist>
            </td>
            <td class="brand-td">
              <input
                type="text"
                id="brand-col"
                class="form-control"
                list="brand-list"
                formControlName="brand"
                [ngClass]="{
                  'border-danger': !submitForm.get('brand')?.valid,
                  'is-invalid': !submitForm.get('brand')?.valid && submitForm.get('brand')?.touched,
                  'is-valid': submitForm.get('brand')?.valid && submitForm.get('brand')?.touched
                }" />
              <div class="invalid-feedback m-0 mx-1 p-0">Bitte ausfüllen.</div>
              <label for="brand-col" class="visually-hidden">Marke</label>
              <datalist id="brand-list">
                <option [value]="brand" *ngFor="let brand of changeableVariablesService.brandList"></option>
              </datalist>
            </td>
            <td class="size-td">
              <input
                type="text"
                id="size-col"
                class="form-control"
                list="size-list"
                formControlName="size"
                [ngClass]="{
                  'border-danger': !submitForm.get('size')?.valid,
                  'is-invalid': !submitForm.get('size')?.valid && submitForm.get('size')?.touched,
                  'is-valid': submitForm.get('size')?.valid && submitForm.get('size')?.touched
                }" />
              <div class="invalid-feedback m-0 mx-1 p-0">Bitte ausfüllen.</div>
              <label for="size-col" class="visually-hidden">Größe</label>
              <datalist id="size-list">
                <option [value]="size" *ngFor="let size of changeableVariablesService.sizeList"></option>
              </datalist>
            </td>
            <td class="color-td">
              <input
                type="text"
                id="color-col"
                class="form-control"
                formControlName="color"
                [ngClass]="{
                  'border-danger': !submitForm.get('color')?.valid,
                  'is-invalid': !submitForm.get('color')?.valid && submitForm.get('color')?.touched,
                  'is-valid': submitForm.get('color')?.valid && submitForm.get('color')?.touched
                }" />
              <div class="invalid-feedback m-0 mx-1 p-0">Bitte ausfüllen.</div>
              <label for="color-col" class="visually-hidden">Farbe</label>
            </td>
            <td class="other-td">
              <input
                type="text"
                id="other-col"
                class="form-control"
                formControlName="label"
                formControlName="other"
                [ngClass]="{
                  'is-invalid': !submitForm.get('other')?.valid && submitForm.get('other')?.touched,
                  'is-valid': submitForm.get('other')?.valid && submitForm.get('other')?.touched
                }" />
              <label for="other-col" class="visually-hidden">Sonstiges</label>
            </td>
            <td class="prize-td">
              <input
                type="text"
                id="prize-col"
                min="0"
                class="form-control"
                formControlName="prize"
                [ngClass]="{
                  'border-danger': !submitForm.get('prize')?.valid,
                  'is-invalid': !submitForm.get('prize')?.valid && submitForm.get('prize')?.touched,
                  'is-valid': submitForm.get('prize')?.valid && submitForm.get('prize')?.touched
                }" />
              <div class="invalid-feedback m-0 mx-1 p-0">Zahl eingeben (ggf.<br />2 Nachkommastellen)</div>
              <label for="prize-col" class="visually-hidden">Preis</label>
            </td>
            <td class="vb-td">
              <input
                type="text"
                id="vb-col"
                min="0"
                class="form-control"
                formControlName="vb"
                [ngClass]="{
                  'is-invalid': !submitForm.get('vb')?.valid && submitForm.get('vb')?.touched,
                  'is-valid': submitForm.get('vb')?.valid && submitForm.get('vb')?.touched
                }" />
              <div class="invalid-feedback m-0 mx-1 p-0">Zahl eingeben (ggf.<br />2 Nachkommastellen)</div>
              <label for="vb-col" class="visually-hidden">VB</label>
            </td>
            <td class="cash-td">
              <input
                type="text"
                id="cash-col"
                class="form-control"
                formControlName="cash"
                [ngClass]="{
                  'is-invalid': !submitForm.get('cash')?.valid && submitForm.get('cash')?.touched,
                  'is-valid': submitForm.get('cash')?.valid && submitForm.get('cash')?.touched
                }" />
              <div class="invalid-feedback m-0 mx-1 p-0">Zahl eingeben (ggf.<br />2 Nachkommastellen)</div>
              <label for="cash-col" class="visually-hidden">Kasse</label>
            </td>
            <td>
              <div class="icon-container">
                <button
                  type="submit"
                  [disabled]="
                    goodsList.archivedTableItems.length === changeableVariablesService.charArray.length ||
                    !submitForm.valid
                  "
                  class="btn btn-primary align-middle text-center">
                  <i class="bi bi-check-lg"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot id="footer">
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-end align-items-center">
                <span class="me-2 mb-0 text-primary" [hidden]="deletionHint === ''">Gelöschte Artikel: </span
                ><span>{{ deletionHint }}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9" class="pt-5">
              <div class="d-flex justify-content-end align-items-center">
                <p class="me-2 mb-0 text-primary">Zu zahlende Gebühr:</p>
                <div class="pay-field me-2 text-center p-1">{{ goodsList.fee }} €</div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-end align-items-center">
                <div>
                  <button type="button" class="submitButton btn btn-primary me-2" (click)="createPdfStartForMail()">
                    Annahmebeleg abschicken
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-end align-items-center">
                <p [hidden]="goodsList.isMailStartSend === false">
                  <span class="me-2 mb-0 text-primary">Hinweis: </span>Der Beleg wurde erfolgreich verschickt.
                </p>
              </div>
            </td>
          </tr>

          <tr>
            <div>
              <!-- Soll einfach nur für etwas Abstand sorgen -->
            </div>
            <div>
              <!-- Soll einfach nur für etwas Abstand sorgen -->
            </div>
          </tr>
          <tr class="table-group-divider">
            <td colspan="9" class="pt-5">
              <div class="d-flex justify-content-center align-items-center">
                <h5 class="me-2 mb-2 text-primary">Waren- / Geldausgabe</h5>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-center align-items-center">
                <p class="me-2 mb-2 text-dark text-center">
                  Dieser Abschnitt ist erst am Sonntag ({{ changeableVariablesService.sundayDate }}) zwischen
                  {{ changeableVariablesService.startTimePickUp }} und
                  {{ changeableVariablesService.endTimePickUp }} Uhr relevant.<br />Daher erst auf "Auszahlung" klicken,
                  sobald der Kunde/die Kundin zum Abholen der Sachen/des Geldes kommt.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="submitButton btn btn-primary me-2" (click)="openPayoutAmountModal()">
                  Auszahlung
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-center align-items-center">
                <p [hidden]="goodsList.isMailEndSend === false">
                  <span class="me-2 mb-0 text-primary">Hinweis: </span>Der Beleg wurde erfolgreich verschickt.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <div>
              <!-- Soll einfach nur für etwas Abstand sorgen -->
            </div>
            <div>
              <!-- Soll einfach nur für etwas Abstand sorgen -->
            </div>
          </tr>
          <tr class="table-group-divider">
            <td colspan="9" class="pt-5">
              <div class="d-flex justify-content-center align-items-center">
                <h5 class="me-2 mb-2 text-primary">PDF erstellen</h5>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-center align-items-center">
                <p class="me-2 mb-2 text-dark text-center">
                  Optional können hier zwei PDFs der Nr. {{ goodsList.number }} erstellt werden. <br />
                  PDF ohne Kasse: Hierbei handelt es sich um das PDF ohne eingetragene Kassen-Werte und ohne
                  Auszahlungsbetrag etc. <br />
                  PDF mit Kasse: Hierbei handelt es sich um das PDF mit eingetragenen Kassen-Werten und mit
                  Verkaufswert, Provision, Auszahlungsbetrag etc.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="submitButton btn btn-primary me-2" (click)="createPdfStart()">
                  PDF ohne Kasse
                </button>
                <button type="button" class="submitButton btn btn-primary me-2" (click)="createPdfEnd()">
                  PDF mit Kasse
                </button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
  <div class="mountain-left"></div>
  <div class="mountain-right"></div>
</div>
<div *ngIf="!goodsList">
  <div class="alternative-site">
    <h1 class="text-primary mb-5">{{ loadOrErrorText }}</h1>
    <!-- bei Bedarf die folgenden Zeilen wieder einkommentieren:
       <div>
      <button
        type="button"
        class="btn btn-primary m-5"
        [hidden]="loadOrErrorText === 'Seite lädt' || +loadOrErrorNumber - 1 < 1"
        (click)="navPrevNext(+loadOrErrorNumber - 1)">
        Zu Nummer<br />
        <span class="fw-semibold display-6">{{ +loadOrErrorNumber - 1 }}</span>
      </button>
      <button
        type="button"
        class="btn btn-primary m-5"
        [hidden]="loadOrErrorText === 'Seite lädt'"
        (click)="navPrevNext(+loadOrErrorNumber + 1)">
        Zu Nummer<br />
        <span class="fw-semibold display-6">{{ +loadOrErrorNumber + 1 }}</span>
      </button>
    </div> -->
    <h4 class="text-primary my-5" [hidden]="loadOrErrorText === 'Seite lädt'">{{ existingNumbersText }}</h4>
    <div class="m-3">
      <button
        *ngFor="let existingNumber of existingNumbersList"
        type="button"
        class="btn btn-primary m-1 other-numbers-button"
        [hidden]="loadOrErrorText === 'Seite lädt'"
        (click)="navPrevNext(+existingNumber)">
        {{ existingNumber }}
      </button>
    </div>
  </div>
  <div class="mountain-left"></div>
  <div class="mountain-right"></div>
</div>
