@import '../../../../../assets/scss/utils';

.body-main {
  width: 100%;
  height: 100%;

  .mountain-left {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    clip-path: polygon(0 0, 20% 26%, 35% 54%, 47% 46%, 85% 100%, 0 100%);
    background-color: #d9d9d9;
    z-index: -1;
  }
  .mountain-right {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    clip-path: polygon(71% 78%, 80% 53%, 100% 60%, 100% 100%, 0 100%, 13% 70%, 44% 86%);
    background-color: #d9d9d9;
    right: 0;
    z-index: -1;
  }

  .navbar {
    border-bottom: 1px solid $primary;
    .img-container {
      img {
        width: 135px;
        height: 42px;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    .nav-items-container {
      ul {
        .active-2 {
          color: $primary;
        }
        .not-active {
          color: $secondary;

          &:hover {
            color: $primary;
          }
        }
      }

      .profi {
        background-color: $secondary;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }
  .section-1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;

    .nummerslider-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      width: 20%;
      .slidebutton-container {
        .carousel-control-next {
          .carousel-control-next-icon {
            background-color: black;
          }
        }
        .carousel-control-prev {
          .carousel-control-prev-icon {
            background-color: black;
          }
        }
      }
      .section-1-main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          font-size: 60px;
          color: $primary;
          margin-bottom: 3%;
        }
        form {
          height: 20%;
          input {
            border-radius: 10px;
            border: 1px solid $primary;
          }
        }
      }
    }
    .comment-container {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        height: 60%;
        width: 70%;
        textarea {
          border: 1px solid $primary;
          border-radius: 10px;
          resize: none;
          height: 80%;
          width: 100%;
        }
      }
    }
  }
  .section-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;

    .table {
      height: 100%;

      thead {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom-width: 0px;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
      }
      tfoot {
        .pay-field {
          width: 100px;
          height: 38px;
          border: 1px solid $primary;
          border-radius: 10px;
        }
      }

      .number {
        width: 7%;
      }

      tr {
        input {
          box-shadow: none;
        }
        .icon-container-pencil-trash {
          display: flex;
          flex-direction: column;
          button {
            border-radius: 50%;
            width: 42px;
          }
        }
        th {
          border-bottom-width: 0px;
        }
        td {
          border-bottom-width: 0px;
        }
        .data-td {
          width: 14%;
        }

        .label-td {
          width: 14%;
        }
        .size-td {
          width: 10%;
        }
        .color-td {
          width: 10%;
        }

        .other-td {
          width: 18%;
        }

        .max-td {
          width: 9%;
        }
        .min-td {
          width: 9%;
        }
        .cash-td {
          width: 8%;
        }
        .icon-container {
          button {
            border-radius: 50%;
            width: 42px;
          }
        }
      }
    }
  }
  .section-3 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    .section-3-container {
      height: 100%;
      width: 25%;
      display: flex;
      flex-direction: column;
      .pay-container {
        display: flex;
        justify-content: center;
        gap: 2%;
        p {
          color: $primary;
        }
        .pay-field {
          width: 30%;
          border: 1px solid $primary;
          border-radius: 10px;
        }
      }
      .btn-container {
        display: flex;
        justify-content: center;
        gap: 5%;
        pointer-events: all;
        cursor: pointer;
        .btn {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
        }
      }
    }
  }
}
input {
  background-color: $white;
}
