<div class="body-main">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="img-container">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/Logo_klein-300x120.png" alt="Logo" class="d-inline-block align-text-top" />
        </a>
      </div>
      <div class="collapse navbar-collapse nav-items-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Warenzettel ausfüllen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kundennummer anlegen</a>
          </li>
          <li class="nav-item">
            <div class="profi"></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bottom-container">
    <div class="block-1"></div>
    <div class="block-2"></div>
    <div class="block-3"></div>
    <div class="block-4"></div>
    <div class="block-5"></div>
  </div>
</div>
