@import '../../../../../assets/scss/utils';

.body-main-number {
  width: 100%;
  height: 100%;

  .mountain-left {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    clip-path: polygon(0 0, 20% 26%, 35% 54%, 47% 46%, 85% 100%, 0 100%);
    background-color: #d9d9d9;
    z-index: -1;
  }

  .mountain-right {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    clip-path: polygon(71% 78%, 80% 53%, 100% 60%, 100% 100%, 0 100%, 13% 70%, 44% 86%);
    background-color: #d9d9d9;
    right: 0;
    z-index: -1;
  }

  .navbar {
    border-bottom: 1px solid $primary;
    .img-container {
      img {
        width: 135px;
        height: 53px;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    .nav-items-container {
      ul {
        // padding-left: 0%;
        // margin-right: 0px;
        // @include media-breakpoint-up(md) {
        //   padding-left: 50%;
        // }

        // @include media-breakpoint-up(lg) {
        //   padding-left: 56%;
        // }
        // @include media-breakpoint-up(xl) {
        //   padding-left: 59%;
        // }

        // @include media-breakpoint-up(xxl) {
        //   padding-left: 67%;
        // }
        .active-2 {
          color: $primary;
        }
        .not-active {
          color: $secondary;

          &:hover {
            color: $primary;
          }
        }
      }

      .profi {
        background-color: $secondary;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }
  .section-title {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: $primary;
    }
  }
  .section-main {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    .section-input {
      width: 30%;
      height: 80%;
      background-color: white transparent;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;

        p {
          font-size: 10px;
          padding-left: 10px;
        }
      }
    }
    .section-accept {
      width: 30%;
      height: 80%;
      background-color: white transparent;
      display: flex;
      flex-direction: column;
      form {
        height: 100%;
        .data-area {
          width: 100%;
          height: 69%;

          overflow-y: scroll;
          border: 1px solid $primary;
          border-radius: 15px;
          .data-text {
            padding-left: 5%;
            padding-right: 5%;
          }
        }
      }
      .btn {
        margin-top: 2%;
      }
    }
  }
}
