<div class="container">
  <img class="logo" src="\assets\images\Logo_klein-300x120.png" alt="Logo Skiclub Olpe" />
  <form>
    <h1>Anmeldung</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPrename" placeholder="Vorname" aria-describedby="prename" />
      <label for="floatingPrename">Vorname <span>*</span></label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingSurname" placeholder="Nachname" aria-describedby="surname" />
      <label for="floatingSurname">Nachname <span>*</span></label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingStreetNo"
        placeholder="Straße, Hausnummer"
        aria-describedby="street-no" />
      <label for="floatingStreetNo">Straße, Hausnummer <span>*</span></label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingZipLocation"
        placeholder="PLZ, Ort"
        aria-describedby="zip-location" />
      <label for="floatingZipLocation">PLZ, Ort <span>*</span></label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPhone" placeholder="Telefonnummer" aria-describedby="phone" />
      <label for="floatingPhone">Telefonnummer <span>*</span></label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingMail" placeholder="Mail" aria-describedby="mail" />
      <label for="floatingMail">E-Mail <span>*</span></label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Passwort (nur für Helfer)" />
      <label for="floatingPassword">Passwort (nur für Helfer)</label>
    </div>
    <p><span>*</span> Pflichtfeld</p>

    <button type="submit">Weiter</button>
  </form>
  <div class="mountains">
    <div class="first-mountain"></div>
    <div class="second-mountain"></div>
    <div class="third-mountain"></div>

    <div class="fourth-mountain"></div>
    <div class="fifth-mountain"></div>
  </div>
</div>
